REACT_APP_MAPBOX_TOKEN=<your-token-here>
REACT_APP_SCHOOLS_URL=/data/schools-fake.json
REACT_APP_SHAPES_URL=/data/mpio-hdi-pop-threats-violence.json
REACT_APP_MOBILITY_MON_URL=/data/movement-day0.json
REACT_APP_MOBILITY_TUE_URL=/data/movement-day1.json
REACT_APP_MOBILITY_WED_URL=/data/movement-day2.json
REACT_APP_MOBILITY_THU_URL=/data/movement-day3.json
REACT_APP_MOBILITY_FRI_URL=/data/movement-day4.json
REACT_APP_MOBILITY_SAT_URL=/data/movement-day5.json
REACT_APP_MOBILITY_SUN_URL=/data/movement-day6.json
