.landing-screen-navbar-title {
  color: #ffffff;
  cursor: pointer;
  background-color: #2785f7;
  padding: 12px;
  height:50px;
  text-align: right;
}
.landing-screen-navbar-logo {
  position: absolute;
  left: 50px;
  background-image: url("/unicef.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 100px;
  min-width: 120px;
  height: 100px;
  color: #FFF;
}
.landing-screen-navbar {
  display: inline;
}
.logout-button {
  text-align: right;
}
.landing-screen-info {
  text-align: center;
  font-size: 14px;
}
.btn-login {
  background-color: #2785f7;
  color: #ffffff;
  padding: 12px;
  display: inline;
  text-align: right
}
@media (min-width: 600px) {
  .landing-screen-info {
    text-align: center;
    padding: 20px;
    font-size: 20px;
  }
}
